.categoryPage {
  min-height: 90vh;
  margin-left: 30vw;
  margin-right: 20vw;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 40px;
  padding-right: 120px;
   /* Ajusta la altura máxima considerando el reproductor */
  padding-bottom: 90px; /* Agrega un padding inferior para evitar que el contenido se corte */
}
.songListContainer {
  margin-bottom: 250px;
  height: 57vh;
  overflow-y: auto;
  max-height: calc(100vh - 250px); /* Ajusta la altura máxima según sea necesario */
}
.songListContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.songListContainer::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 10px;
}

.songListContainer::-webkit-scrollbar-track {
  background-color: #181818;
}


.songList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  max-width: none;
  margin-top: 40px;
}

.title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 24px;
  position: sticky; /* Fija el título en la parte superior */
  top: 0;
  background-color: #181818; /* Ajusta el color de fondo */
  padding: 10px;
  z-index: 1;
}

.songList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.songItem {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #282828;
  transition: background 0.2s;
}

.songItem:last-child {
  border-bottom: none;
}

.songItem:hover {
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 1px;
  background: #282828;
}

.songImg {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 16px;
}

.songInfo {
  display: flex;
  flex-direction: column;
}

.songName {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.songArtist {
  color: #b3b3b3;
  font-size: 0.9rem;
  margin-top: 4px;
  text-align: left;
}

.empty {
  color: #b3b3b3;
  font-size: 1rem;
  margin-top: 24px;
  text-align: center;
}

.playButton {
  background: #1db954;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.songDetails {
  display: flex;
  align-items: center;
  flex: 1;
}

.playButton:hover {
  background: #1ed760;
}

/* Estilos para la barra de desplazamiento */
.categoryPage::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.categoryPage::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 10px;
}

.categoryPage::-webkit-scrollbar-track {
  background-color: #181818;
}