.card{
    width: 300px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    background-color: #424242c9;
    border-radius: 8px;
    gap: 10px;
    margin: 2px;
}

.image{
    width: 70px;
    height: 70px; 
    border-radius: 8px 0px 0px 8px;
    object-fit: cover;
}

.title{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-align: start;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background-color: #333; /* Fondo ligeramente más claro al pasar sobre él */
}

.card:hover .image {
  filter: brightness(1.1); /* Aumenta ligeramente el brillo de la imagen */
}