.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 5px;
    width: 90px;
    height: 91vh;
    border-radius: 16px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-y: auto;
}

.addPlayListButton{
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
    cursor: pointer;
}



.addPlayListButton{
    position: absolute;

    border-radius: 50%;
}


.playlists{
    margin-top: 70px;
    padding: 0px;
    margin-left: 10px;
}

.playlistItem{
    display: flex;
    max-width: 70px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0px;
}

.playlistImagenMini{
    padding: 0px;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
}

.recuadroInfo{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: #222;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    white-space: pre-line;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

.recuadroStyleTitle{
    height: 11px;
    width: auto;
    margin: 0px;
    font-weight: bold;
    color: white;
    padding: 0px;
}

.recuadroStyleDescripcion{
    height: 20px;
    width: 200px;
    margin-left: 5px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: rgb(20, 20, 20);
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75px;
    left: 5px;
    width: 90px;
    height: 91vh;
    border-radius: 16px;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-y: auto;
}


.loadingIcon {
    animation: spin 2s linear infinite;
    color: #1db954;
}

.loadingIcon svg {
    width: 40px;
    height: 40px;
}

.loadingText {
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}